 {% extends 'core_app/base.html' %}
{% load static %}
{% block title %}{{ hotel.nom }}{% endblock %}

{% block content %}
<h2 class="mb-4">{{ hotel.nom }} ({{ hotel.get_type_hotel_display }})</h2>

<div class="row">
    <div class="col-md-6">
        {% if hotel.image %}
            <img src="{{ hotel.image.url }}" class="img-fluid rounded mb-3" alt="{{ hotel.nom }}">
        {% else %}
            <img src="{% static 'default.jpg' %}" class="img-fluid rounded mb-3" alt="{{ hotel.nom }}">
        {% endif %}
        <p><strong>Adresse :</strong> {{ hotel.adresse }}</p>
        <p><strong>Prix par nuit :</strong> {{ hotel.prix_nuit }} FCFA</p>
        <p>{{ hotel.description }}</p>
        <a href="{% url 'reserve:ajouter_reservation' %}" class="btn btn-success">Réserver</a>
    </div>

    <div class="col-md-6">
        <h4>Chambres disponibles</h4>
        {% if chambres %}
        <ul class="list-group">
            {% for chambre in chambres %}
                <li class="list-group-item">
                    {{ chambre.nom }} - {{ chambre.prix }} FCFA
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Aucune chambre disponible.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
