{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}Liste des Hôtels{% endblock %}

{% block content %}
<h2 class="mb-4">Liste des Hôtels</h2>

<div class="row">
  {% for hotel in hotels %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        {% if hotel.image %}
          <img src="{{ hotel.image.url }}" class="card-img-top" alt="{{ hotel.nom }}">
        {% else %}
          <img src="{% static 'images/default_image.jpg' %}" class="card-img-top" alt="Image par défaut">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ hotel.nom }}</h5>
          <p class="card-text">{{ hotel.description|truncatewords:20 }}</p>
          <p><strong>Adresse :</strong> {{ hotel.adresse }}</p>
          <p><strong>Type :</strong> {{ hotel.get_type_display }}</p>
          <p><strong>Prix par nuit :</strong> {{ hotel.prix_par_nuit }} FCFA</p>
          <a href="{% url 'detail_hotel' hotel.id %}" class="btn btn-primary">Voir Détail</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>Aucun hôtel disponible.</p>
  {% endfor %}
</div>
{% endblock %}
