 {% extends 'core_app/base.html' %}

{% block title %}Lieux touristiques{% endblock %}

{% block content %}
<h2>Lieux touristiques</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
  {% for lieu in lieux %}
  <div class="col">
    <div class="card h-100 shadow-sm">
      {% if lieu.image %}
      <img src="{{ lieu.image.url }}" class="card-img-top" alt="{{ lieu.nom }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ lieu.nom }}</h5>
        <p class="card-text">{{ lieu.description|truncatewords:20 }}</p>
        <a href="{% url 'lieu_detail' lieu.id %}" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>Aucun lieu disponible pour le moment.</p>
  {% endfor %}
</div>
{% endblock %}
